:root {
  font-family: "Montserrat", serif;

  color: rgba(0, 0, 0, 0.87);
  background-color: #edece7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
